/*
 * @Author: 蠢卫星 
 * @Date: 2019-04-12 13:32:58 
 * @Last Modified by:   蠢卫星 
 * @Last Modified time: 2019-04-12 13:32:58 
 */

body {
  margin: 0;
  padding: 0;
}
#app {
  font-family: '微软雅黑', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}
a {
  color:#555; text-decoration:none;
}
a:hover {
  text-decoration:none;
}
#body {
  height: 100vh;
}
.el-header{
  font-size: 14px;
  background-color: #53c68c;
  display: flex;
  justify-content: space-between;
  color: #fff;
  line-height: 60px;
}
.header-operate{
  margin-right: 20px;
}
.header-title{
  font-weight: bold;
  font-size: 24px;
}
.header-user{
  display: flex;
}
.header-user-img{
  margin: 10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.el-dropdown-link{
  cursor: pointer;
  color: #fff;
}
.news-number{
  position: relative;
  top: -6px;
  height: 10px;
  line-height: 10px;
  border-radius: 5px;
  display: inline-block;
  background-color: #fe6270;
  color: #fff;
  padding: 0 4px;
  font-size: 10px;
}
.el-icon-arrow-down {
  font-size: 12px;
}
.el-aside {
  background-color: #E9EEF3;
  color: #333;
  text-align: center;
  line-height: 200px;
}
.el-menu-item {
  border-bottom: 2px solid #f5f5f5;
}
.el-main {
  color: #333;
}
body>.el-container {
  margin-bottom: 40px;  
}
footer {
  border-top: 1px solid #dddada;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  text-align: center;
}